:root {
  --main-bg-color: black;
  --sec-bg-color: rgb(77, 77, 77);

  --main-txt-color: white;
  /* --sec-txt-color: black; */
}

:root,
body {
  height: 100%;
  background-color: var(--sec-bg-color);
}

body {
  display: flex;
  flex-direction: column;
  /* flex */
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', Arial, sans-serif;
}

header {
  background-color: var(--main-bg-color);
  min-height: 7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

header > img {
  width: 5rem;
}

h1 {
  color: white;
  font-size: 4rem;
}

main {
  /* In this page, the height of main can vary, but I think that in the actual game I will make it static to avoid elements aglutinating on the middle */
  height: 60%;
  background-color: var(--sec-bg-color);

  display: flex;

  flex-direction: column;

  align-items: center;
}

section {
  height: 100%;
  width: 100%;

  background-color: var(--sec-bg-color);
  background-image: url(Images/clover.png), url(images/spade.png);
  background-size: 12.5%;
  background-position: 15%, 85%;

  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

section > div > h2 {
  font-size: 2rem;
}

/* Activates when pointer is on top of "Play" or "How to play" */
section > div > h2:hover {
  /* Change color of text */
  color: rgb(210, 0, 0);
  transition: 0.5s;

  /* Change cursor to pointer */
  cursor: pointer;
}

hr {
  height: 2px;
  width: 30%;
  background-color: black;
  border-color: black;
  border-style: solid;
}

footer {
  height: 10%;
  min-height: 5.4rem; /*Como é display flex, conforme aumento a altura do footer, o resto diminui, no caso quem vai diminuir enquanto o header está na min height de 7rem é o main, se o header for maior q 7 rem ele também diminuiria na mesma proporção que o main pois o shrink inicial é sempre 1 para todos */
  background-color: var(--main-bg-color);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer > h2 {
  font-size: 1.5rem;
}

#contact {
  display: flex;
  justify-content: space-between;
  background-color: rgb(13, 0, 253);
  width: 70%;
  flex-wrap: wrap;
}

@media (max-height: 390px) {
  header {
    min-height: 4rem;

    flex-direction: row-reverse;
  }
}
